.small_res_info {
    padding: 15px;
    list-style: none;
    display: grid;
    grid-template-columns: 100px;
    width: inherit;
}

.res_name {
    grid-column: 1;
    justify-self: start;
    align-self: center;
}

.res_party {
    grid-column: 2;
    justify-self: start;
    align-self: center;
}

.res_notes {
    grid-column: 3;
    justify-self: start;
    align-self: center;
}

.fa_elli {
    grid-column: 4;
    justify-self: flex-end;
    align-self: center;
    font-size: 25px;
}

.waiting {
    background-color: #FF006E;
}

.notified {
    background-color: #3A86FF;
}

.fa_elli:hover {
    cursor: pointer;
}