.editRes_view {
    padding: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: 50%;
    width: 400px;
}

.editRes_form {
    grid-column: 1;
}

.res_form input {
    padding: 10px;
    width: -webkit-fill-available;
    margin: 7px;
    border: 0;
    box-shadow: 0px 0px 15px rgb(16 18 24 / .4);
    background-color: #ced2de;
}

.res_form button {
    padding: 10px;
    width: -webkit-fill-available;
    border: 0;
    box-shadow: 0px 0px 15px rgb(16 18 24 / .4);
}

.editRes_buttons {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto;
}

.editRes_notify {
    grid-row: 4;
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
}

.editRes_checkOff {
    grid-row: 5;
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
}

.editRes_button {
    border: 0;
    font-size: large;
    margin: 0 5px;
    justify-self: center;
    padding: 10px;
    background-color: #ced2de;
    box-shadow: 0px 0px 15px rgb(16 18 24 / .4);
    width: -webkit-fill-available;
}

.editRes_button:hover {
    background-color: #E07A5F;
}

.editRes_button:focus {
    background-color: #E07A5F;
}

.editRes_waitState {
    grid-row: 1;
    align-self: end;
    justify-self: center;
    align-self: center;
}

.editRes_noShow {
    grid-row: 2;
    align-self: center;
}

.editRes_cancel {
    grid-row: 3;
    align-self: center;
}

@media only screen and (max-width: 500px) {
    .editRes_view {
        height: 625px;
        width: auto;
        grid-template-rows: auto;
    }
    .editRes_form {
        grid-row: 1;
        grid-column: 1 / span 2;
        height: auto;
        align-self: start;
    }
    .editRes_buttons {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
    .editRes_button {
        grid-column: 1 / span 2;
        margin: 10px;
    }
}

@media only screen and (min-width: 1500px) {
    .editRes_view {
        width: 650px;
    }
}