.editRes_view {
    margin: 5px;
    padding: 10px;
    list-style: none;
    display: grid;
    grid-template: 50% / 50%;
    box-shadow: 8px 12px 25px 0px #101218;
}

.editRes_form {
    grid-column: 1;
}

.res_form input {
    padding: 10px;
    width: -webkit-fill-available;
    margin: 7px;
    border: 0;
    box-shadow: 0px 0px 15px rgb(16 18 24 / .4);
    background-color: #ced2de;
}

.res_form button {
    padding: 10px;
    width: -webkit-fill-available;
    border: 0;
    box-shadow: 0px 0px 15px rgb(16 18 24 / .4);
}

.editRes_buttons {
    grid-column: 2;
    grid-row: 1 / span 2;
    display: grid;
    grid-template: auto;
}

.editRes_notify {
    grid-row: 4;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
    width: 80%;
}

.fa_closeWindow {
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-end;
    align-self: start;
}

.editRes_checkOff {
    grid-row: 5;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
    width: 80%;
}

.editRes_view button {
    border: 0;
    font-size: large;
    margin: 0 5px;
    justify-self: center;
    padding: 10px;
    background-color: #ced2de;
    box-shadow: 0px 0px 15px rgb(16 18 24 / .4);
}

.editRes_button:hover {
    background-color: #E07A5F;
}

.editRes_button:focus {
    background-color: #E07A5F;
}

.editRes_waitState {
    grid-row: 1;
    grid-column: 1/ span 2;
    width: 80%;
    align-self: end;
    justify-self: center;
    align-self: center;
}

.editRes_noShow {
    grid-row: 2;
    grid-column: 1 / span 2;
    align-self: center;
    width: 80%;
}

.editRes_cancel {
    grid-row: 3;
    grid-column: 1 / span 2;
    align-self: center;
    width: 80%;
}

@media only screen and (max-width: 500px) {
    .editRes_view {
        height: 625px;
    }
    .editRes_form {
        grid-column: 1 / span 2;
        grid-row: 2;
        height: auto;
    }
    .editRes_buttons {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
}