.dailyStats_container {
    bottom: 0;
    position: fixed;
    background-color: #181A25;
    width: 100vw;
    height: 120px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto;
}

.head_count {
    grid-column: 1;
}

.walk_in_count {
    grid-column: 2;
}

.unique_count {
    grid-column: 3;
}

.no_show_count {
    grid-column: 4;
}

.cancelled_count {
    grid-column: 5;
}

.count_title {
    text-align: center;
}

.count_value {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .walk_in_count {
        grid-column: 2;
    }
    
    .unique_count {
        display: none;
    }
    
    .no_show_count {
        display: none;
    }
    
    .cancelled_count {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .dailyStats_container {
        grid-column: 2;
        position: fixed;
        right: 0;
        height: 100vh;
        grid-row: 2 / span 3;
        width: 280px;
        justify-self: flex-end;
        padding-top: 100px;
        grid-template-rows: repeat(auto-fit, minmax(auto, 125px));
    }
    .head_count {
        grid-row: 1;
        grid-column: 1;
    }
    
    .walk_in_count {
        grid-row: 2;
        grid-column: 1;
    }
    
    .unique_count {
        grid-row: 3;
        grid-column: 1;
    }
    
    .no_show_count {
        grid-row: 4;
        grid-column: 1;
    }
    
    .cancelled_count {
        grid-row: 5;
        grid-column: 1;
    }

    .sideBar_count_grid {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .count_title {
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
        align-self: center;
    }
    .count_value {
        grid-column: 2;
        grid-row: 1;
        justify-self: center;
        align-self: center;
    }
}