.timeBlock_container {
    background-color: gray;
    padding: 20px;
    flex: 0 1 500px;
    margin: 10px;
}

.timeBlock_list {
    margin: 10px;
    padding: 0;
}

.timeBlock_title {
    margin: 10px;
    padding: 10px;
}