.reservations {
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 130px;
    margin-top: 10px;
}

.page_height {
    height: 100vh;
}

@media only screen and (min-width: 1000px) {
    .reservations {
        display: block;
        justify-self: center;
        margin-top: 85px;
    }

    .res_page {
        display: grid;
        grid-template-columns: 67% 33%;
    }
}

@media only screen and (min-width: 1500px) {
    .reservations {
        width: 800px;
    }
}

@media only screen and (max-height: 850px) {
    .page_height {
        height: auto;
    }
    .short_list {
        height: 100vh;
    }
}

@media only screen and (min-height: 1250px) {
    .big_screen {
        height: 100vh;
    }
}