.main_header {
    background-color: #E07A5F;
    padding: .5rem 2rem;
    display: grid;
    grid-template-columns: 33%;
    z-index: 5;
    box-shadow: 0px 2px 20px 0px #101319;
}

.main_header h1 {
    margin: 0;
}

.app_title {
    grid-column: 1;
    font-family: 'Pacifico', cursive;
    filter: drop-shadow(0px 3px 1px #101218);
    color: #F4F1DE;
}

.header_menu_button {
    grid-column: 3;
    justify-self: flex-end;
    align-self: center;
}

.header_menu {
    position: absolute;
    right: 0;
    top: 81px;
    padding: 1rem;
    width: 115px;
    margin: 0 10px;
    text-align: end;
    z-index: 10;
    text-decoration: none;
    box-shadow: 3px 4px 13px 0px #101319;
    color: #ced2de;
}

.header_menu:hover {
    background-color: #E07A5F;
    color: #3D405B;
}

@media only screen and (max-width: 400px) {
    .rest_name{
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .main_header {
        position: fixed;
        width: 100%;
    }
}