.fa_addResButton {
    color: rgb(68, 68, 68);
    margin: 20px;
    padding: 0;
    grid-column: 6;
    justify-self: center;
    align-self: center;
}

.addRes_container {
    position: fixed;
    z-index: 1;
    right: 5%;
    left: 5%;
    width: 500px;
    top: 122px;
    margin: 0 auto;
    background-color: darkgray;
    padding: 30px;
    box-shadow: 0 0 17px 4px rgba(0,0,0,.6);
}

.fa_closeAddRes {
    position: absolute;
    right: 10px;
    top: 10px;
}

.walk_in_selected {
    background-color: yellow;
    outline: 0;
}

.res_form button {
    outline: 0;
    border-radius: 4px;
    margin: 7px;
}

.res_form button:hover {
    cursor: pointer;
}

.walk_in_button {
    margin: 7px;
}

.add_res_submit {
    font-size: larger;
}